/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
    font-family : 'Invention';
    src         : url('./assets/fonts/Invention-Regular.woff2') format('woff2'), url('./assets/fonts/Invention-Regular.woff') format('woff');
    font-weight : 400;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family : 'Khand';
    src         : url('./assets/fonts/Khand-Bold.woff2') format('woff2'), url('./assets/fonts/Khand-Bold.woff') format('woff');
    font-weight : 700;
    font-style  : normal;
    font-display: swap;
}